# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency folders
frontend/node_modules/
backend/node_modules/

# Build outputs
dist
dist-ssr
build

# Local environment
*.local
backend/.env

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
